body {
    margin: 0;
    background-color: steelblue;
}

.all-container {
    display: flex;
    justify-content: center;
}

.hosts-container {
    background-color: white;
    border-radius: 12px;
    display: flex;
    padding: 22px;
    width: 600px;
}
.hosts-image {
    width: 61px;
    height: 61px;
    margin: auto;
}
.host-name {
    font-size: 16px;
    font-weight: bold;
    color: orange;
}
.button-host-adds {
    background-color: orange;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: none;
}
.verrical-line {
    width: 1px; 
    size: 100%;

    margin-right: 20px;
}

.hosts {
    justify-self: center;
    text-align: center;
    margin-right: 24px;
}